{
  "modules": {
    "homecare": {
      "node-name": "DM_homecare_node",
      "scenario-name": "homecare",
      "project-id": "dialogflow-project-id",
      "session-id": "dialogflow-session-id",
      "authorization": {
        "key": "filename.json"
      },
      "language-code": "ko"
    },
    "reception": {
      "node-name": "DM_reception_node",
      "scenario-name": "reception",
      "project-id": "dialogflow-project-id",
      "session-id": "dialogflow-session-id",
      "authorization": {
        "key": "filename.json"
      },
      "language-code": "ko"
    }
  }
}
