<launch>
    <node pkg="dm_generator" name="DM_homecare_node" type="launcher.py" output="screen">
        <env name="module_name" value="homecare"/>
    </node>
    <node pkg="dm_generator" name="DM_reception_node" type="launcher.py" output="screen">
        <env name="module_name" value="reception"/>
    </node>
</launch>
